
#workouts {
    background: rgb(196, 196, 196);
    margin: 7px;
    padding: 2px 6px 2px 6px;
}

h2 {
    color: white;
    text-align: center;
}

h3 {
    color: black;
    font-size: 16px;
    margin: 0px 5px;
    padding: 0;
}

h4 {
    color: black;
    font-size: 16px;
    margin: 2px 0 0 30px;
}

h5 {
    color: black;
    font-size: 16px;
    margin: 2px 0 0 50px;
}

h6 {
    color: black;
    font-size: 16px;
    margin: 2px 0 0 70px;
}
